/* paleta de colores 1
  #314455
  #644E5B
  #9E5A63
  #C96567
  #97AABD */
/* paleta de colores 2 (accesible)
  #0A6265   rgb(10,97,101)     #5A5C65   rgb(90, 92, 101)
  #5CC3AF   rgb(92, 195,175)   #BCB9AE   rgb(188, 185, 174)
  #E7E2BD   rgb(231, 226,189)  #E9DEBA   rgb(233, 222, 186)
  #ECA24D   rgb(236, 162, 77)  #B9A745   rgb(185, 167, 69)
  #DB4325   rgb(219, 67, 37)   #70631C   rgb(112, 99, 28) */

/* ---------- reseteo de estilos ----------  */
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	font-size: 100%;
  	font-weight: inherit;
  	font-style: normal;
  	vertical-align: baseline;
  	background: transparent;
  	border: 0;
  	outline: 0;
  }
/* ---------- reseteo de HTML5 para navegadores viejos ----------  */
  article, aside, figure, figure img,
  hgroup, footer, header, nav, section {
  	display: block;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  input, select {
    vertical-align: middle;
  }
  a img {
    border: 0;
  }
  :focus {
    outline: 0;
  }
  a:hover, a:active {
    outline: none;
  }

/* :::::::::::::::::::: MOBILE FIRST :::::::::::::::::::: */
/* ::::: Pantallas chicas verticales (479px o menos) ::::: */

/* --- configuraciones comunes a todas las páginas --- */
/* ---------- estructura general ----------  */
body {
  background-color: #FFFFFF;
  color: #314455;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0 auto;
	padding: 0;
  width: 320px;
}
img, embed, object, video {
	max-width: 100%;
}
.hide {
  display: none;
}
.clear {
  clear: both;
}
.wrap {
    background-color: #FFFFFF;
  display: block;
	margin: 0 auto;
  position: relative;
}
/* ---------- encabezado ---------- */
header {
  float: left;
  margin: 69px 0 20px;
	width: 100%;
}
/* ---------- encabezado > logo ---------- */
.branding {
  background: url(../img/logoLDD-sm.png) no-repeat 0 0;
  direction: ltr;
	display: block;
  height: 120px;
  margin: 0 auto;
	text-indent: -999em;
  width: 120px;
}
h1 a {
  cursor: pointer;
	display: block;
  height: 120px;
  text-decoration: none;
	width: 120px;
}
h1 a:hover {
	opacity: .85;
}
/* ---------- encabezado > navegación ---------- */
.head-nav {
  border-bottom: .5px solid #97AABD;
  font-size: .75em;
  height: 42px;
  position: absolute;
  top: 0;
	width: 100%;
}
header nav ul {
  margin: auto;
}
header nav li {
	display: inline;
  line-height: 1.3em;
}
header nav a {
  display: block;
  float: left;
  height: 28px;
	margin: 0;
  padding: 16px 8px 6px;
}
header nav li a,
header nav li a:link,
header nav li a:visited {
  background-position: 0 65%;
	background-repeat: no-repeat;
  color: #314455;
  cursor: pointer;
	text-decoration: none;
  text-transform: uppercase;
}
header nav li a:hover ,
header nav li a:focus {
  background-position: 5px 65%;
  color: #C96567;
}
/* ---------- contenido principal ---------- */
.content {
  background-color: #FFFFFF;
  display: block;
  float: right;
  position: relative;
  width: 100%;
}
.content h2 {
  font-size: 1.5rem;
  margin: 20px 0;
  text-align: center;
}
/* ---------- contenido principal > menu filtros ---------- */
#MainNavOuter, #SubNavOuter, #GenderOuter{
  display: inline-block;
}
#sub1:checked ~ #MainNav{
  display: inline-block;
}
#sub2:checked ~ #SubNav{
  display: inline-block;
}
#sub3:checked ~ #Gender{
  display: inline-block;
}
.filtros {
background-color: #FFFFFF;
}
#MainNav, #SubNav, #Gender{
    display: none;
    flex-direction: row;
    padding: 0;
    margin: 0 10% 10px;
}
#MainNav li, #SubNav li, #Gender li, nav span{
    border: 1px solid #ececec;;
    background-color: #F7F7F7;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 0.1em;
    border-bottom: 0;
}
#MainNav li a, #SubNav li a, #Gender li a, nav span{
    text-transform: uppercase;
    text-decoration: none;
    color: #232323;
    font-size: 0.8em;
}
#MainNav .last, #SubNav .last, #Gender .last{
  border-bottom: 1px solid #ececec;
}
/* ---------- footer ---------- */
footer {
  background-color: #000000;
  clear: both;
  color: #97AABD;
  position: relative;
}
footer a,
footer a:link,
footer a:visited {
    color: #97AABD;
  	text-decoration: none;
  }
footer a:hover,
footer a:focus {
    color: #C96567;
}
/* ---------- footer > big ---------- */
.foot-big {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 0 10px;
}
.foot-big h4 {
  margin: 0 0 10px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: .8rem;
}
.foot-content  {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  line-height: 1rem;
}
/* ---------- footer > news ---------- */
.news-content {
  display: none;
  order: -2;
}
/* ---------- footer > pagos ---------- */
.pagos-content {
  margin: .5rem 0;
  text-align: center !important;
}
.pagos {
  list-style: none;
  display: inline-block;
}
.copyright-item {
  font-size: 1.2rem;
  margin: 0px 5px;
  vertical-align: top;
  display: inline-block;
}
/* ---------- footer > legal ---------- */
.legal-content {
  margin-bottom: .5rem;
  text-align: center !important;
}
.legales {
  list-style: none;
}
.nota-pie-2 {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  margin: 0px 5px;
  text-decoration: none;
}
/* ---------- footer > social ---------- */
.social-content {
  margin-bottom: .5rem;
  text-align: center !important;
}
.social-link {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0px 5px;
  vertical-align: top;
}
.social-link span{
  display: none;
}
/* --- configuraciones especificas de inicio.html --- */
/* ---------- destacado ---------- */
.destacado {
  height: 400px;
}
/* ---------- destacado > foto destacada ---------- */
.d-foto {
  display: block;
  font-size: .75em;
  height: 300px;
  overflow:hidden;
  position: relative;
}
.slide1 {
  display: block;
}
.d-foto img {
	left: -80px;
	max-width: 500px;
  position: absolute;
}
.slide1 h1 {
  background: #97AABD;
  background: rgba(255,255,255,.8);
  color: #314455;
  font-size: 1.125em;
  font-style: italic;
  line-height: 1.2em;
	padding: 10px 10px;
  position: absolute;
  top: 214px;
  width: 300px;
}
.slide1 h2 {
  background: #314455;
  background: rgba(0,0,0,.8);
  color: #97AABD;
  font-size: .9em;
  font-weight: normal;
  font-style: italic;
  line-height: 1.2em;
  margin: 0;
  padding: 10px 10px;
  position: absolute;
  text-align: left;
  top: 248px;
  width: 300px;
}
/* ---------- destacado > subscripcion ---------- */
.subscripcion {
  background: url(../img/s-sobre.jpg) no-repeat 5px 5px;
  background-size: 32px auto;
  border-bottom: 1px dashed #000000;
  border-top: 1px dashed #000000;
  height: 80px;
  line-height: 1rem;
  margin-bottom: 29px;
}
.subscripcion p {
  display: block;
  font-size: 0.8rem;
  padding: 15px 0 5px 40px;
  width: auto;
}
.newsletter {
  display: block;
  padding-left: 10px;
  width: 100%
}
fieldset {
  display: inline-block;
}
.email {
padding: 11px 20px;
margin: 8px 0;
  box-sizing: border-box;
  font-size: 0.8rem;
  height: 1.5rem;

  width: 185px;
}
.sub-boton {
  background-color: #222222;
  border: none;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 0.7rem;
  height: 1.5rem;
  letter-spacing: .125em;
  padding: 0 10px;
  text-transform: uppercase;
  width: 105px;
}
sub-boton:hover {
  background-color: #97AABD;
}
/* ---------- slider main---------- */
.slider, .second-sponsor {
  display: none;
}
/* ---------- marcas ---------- */
.brands {
  display: block;
  padding: 20px 5% 30px;
  text-align: center;
}
.brands ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  opacity: 0.7;
  padding: 0;
}
.brands li {
  list-style: none;
  margin: 10px 0;
  text-align: center;
  width: 50%;
}
.brands img {
  border-style: none;
  width: 70%;
}
/* ---------- colecciones ---------- */
.collections{
    width: 80%;
    margin: 0 auto 30px;
    background-color: #EFECEA;
    overflow: hidden;
    padding-bottom: 20px;
}
.collections .foto {
  border-style: none;
  width: 100%;
}
.collections .logo{
    margin: 10px auto;
    width: 35%;
    display: block;
}
.boton-tr{
    display: block;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 0.8rem;
    letter-spacing: .125em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    line-height: 2.2rem;
    width: 200px;
    text-decoration: none;
    margin: 0 auto;
}
/* --- configuraciones especificas de login.html --- */
.login{
  color: #999;
  font-size: 0.9em;
}
.contact{
   padding: 1em 1em;
  margin: 2em 5%;
  border: 0.5px solid #ccc;
}

.contact form{position: relative;}

input, input[type="radio"] + label, textarea {
  font-family: Montserrat, sans-serif;
  font-size: 0.85rem;
  color: #2f4f4f;
  width: 100%;
  padding: 0.5em;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #5D7E95;
}
input:focus + .input-icon svg {
  color: #5D7E95;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.3em;
  bottom: 0.3em;
  left: 1.5em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
}
input:focus + .input-icon:after {
  border-right-color: #5D7E95;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label, input[type="submit"], input[type="reset"]{
  display: inline-block;
  width: 48.5%;
  text-align: center;
  border-radius: 0;
}

input[type="radio"] + label:last-of-type, input[type="reset"]{
  float: right;
}
input[type="radio"] + label i {
  padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before
{
  background-color: #5D7E95;
  color: #fff;
  border-color: #5D7E95;
}
div label{font-size: 0.8em;}

input[type="checkbox"] {width: auto; float: left;}

form span{
  float: left;
  padding-left: 5px;
  margin-top: -1.5px;
}

main .login{padding-bottom: 25px;}

.input-group {
  margin-bottom: 0.75em;
}

.contact div:last-child{margin-bottom: 0;}

.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 2em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.65em;
  height: 2em;
  line-height: 2.2em;
  text-align: center;
  pointer-events: none;
}
input[type="submit"] + a{text-decoration: none; color: #222; font-size: 0.8em; padding-left: 10px;}

/* --- configuraciones especificas de faq.html --- */
.faq-msg{
  background-color: #f6f6f6;
  padding: 10px;
  text-align: center;
  width: 90%;
  margin: 0 auto 20px;
}

.faq-msg h3{
  font-weight: normal;
}

.faq-container{
  width: 100%;
  font-size: 0.85em;
}

.faq-item{
  width: 90%;
  margin: 0 auto 20px;
}

.question{
  margin: 0;
  padding: 5px;
  font-weight: 600;
  background-color: #DDD;
  text-align: center;
}

.answer{
  font-size: 0.9em;
  margin: 0;
  padding: 5px;
  background-color: #f6f6f6;
}
/* --- configuraciones especificas de contacto.html --- */
.map{
    display: block;
    margin: 0 auto;
    width: 90%;
    filter: grayscale(0.7);
}
.google-map{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
/* : : : fin de estructura de pantallas chicas verticales : : : */

/* ----------------- MEDIA QUERIES  ------------------------- */

/* ::::: Pantallas chicas apaisadas (entre 480px y 767px) :::::*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    width: 480px;
  }
  /* ---------- encabezado ---------- */
    header {
	margin: 20px 0;
  }
  /* ---------- encabezado > logo ---------- */
  .branding {
    margin-left: 20px;
  }
  /* ---------- encabezado > navegación ---------- */
  .head-nav {
    border-bottom: none;
    box-shadow: none;
    right: 25px;
  	top: 65px;
    width: 315px;
  }
  header nav ul {
  	position: absolute;
  	right: 0;
  }
  header nav li {
  	display: inline;
  	margin: 0;
  }
  header nav a {
  	float: left;
  	margin: 0 0 0 4px;
  	padding: 5px 5px 0 5px;
  }
  /* --- configuraciones especificas de inicio.html --- */
  /* ---------- destacado ---------- */
  .destacado {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  /* ---------- destacado > foto destacada---------- */
  .d-foto section img {
  	left: 0px;
  }
  .slide1 h1 {
    left: auto;
    right: auto;
    width: 460px;
  }
  .slide1 h2 {
    left: auto;
    right: auto;
    width: 460px;
  }
  /* ---------- destacado > subscripcion ---------- */
  .subscripcion {
    background-position: 20px 5px;
  }
  .subscripcion p {
    padding-left: 60px;
  }
  .email {
    margin-left: 15px;
    width: 320px;
  }
  /* ---------- marcas ---------- */
  .brands li {
    width: 30%;
  }
  .brands a {
    margin-top: 25px;
  }

  /* ---------- footer ---------- */
  .foot-content  {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /*  ---------- footer > legal ---------- */
  .legal-content {
    flex: 1 0 100%;
    margin: .5rem;
    order: -1;
  }
  /*  --------- footer > pagos ---------- */
  .pagos-content {
    margin: .5rem;
  }
  /* ---------- footer > social ---------- */
  .social-content {
    margin: .5rem;
  }
}
/* : : : fin de estructura de pantallas chicas apaisadas : : : */

/* ::::: Pantallas medianas verticales (entre 768px y 991px) ::::: */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
  	padding: 20px 28px 0 28px;
    width: 712px;
  }
  /* ---------- encabezado ---------- */
  header {
  	margin: 0 0 20px;
    width: 712px;
  }
  /* ---------- encabezado > logo ---------- */
  .branding {
    margin: 0;
  }
  /* ---------- encabezado > navegación ---------- */
  .head-nav {
    border-bottom: none;
    box-shadow: none;
    height: auto;
  	left: auto;
    right: 0;
    top: 50px;
    width: 528px;
  }
  header nav ul {
    float: right;
  }
  header nav li {
    background-position: 50% 0;
    display: inline-block;
    margin-bottom: 18px;
  }
  header nav li a,
  header nav li a:link {

    display: inline;
    padding: 35px 15px 0 15px;
  }
  header nav li a:hover {
    background-position: 50% 3px;
  }
  .n-inicio {
    background-image:  url(../img/n-inicio.jpg);
  }
  .n-registro {
    background-image: url(../img/n-registro.jpg);
  }
  .n-preguntas {
    background-image: url(../img/n-preguntas.jpg);
  }
  .n-contacto {
    background-image: url(../img/n-contacto.jpg);
  }
  /* --- configuraciones especificas de inicio.html --- */
  /* ---------- contenido ---------- */
  .content{
    clear: both;
  }
  /* ---------- destacado ---------- */
  .destacado {
  height: 510px;
  }
  /* ---------- destacado > foto destacada ---------- */
  .d-foto {
    height: 446px;

    width: 712px;
  }
  .d-foto section img {
    height: 445px;
    max-width: none;
  }
  .d-foto h1 {
    font-size: 1.2rem;
    left: 0;
    padding: 15px 25px;
    top: 285px;
    width: auto;
  }
  .d-foto h2 {
    font-size: 1.1rem;
    padding: 12px 25px;
    top: 335px;
    width: 440px;
  }

  /* ---------- destacado > subscripcion ---------- */
 .subscripcion {
    background-size: 50px auto;
    height: 58px;
  }
   .subscripcion p {
    display: inline-block;
    float: left;
    margin: 6px 20px 6px 20px;
    width: auto;
  }
  .newsletter {
    float: right;
    margin-left: 20px;
    padding: 10px 10px;
    width: auto;
  }
  /* ---------- destacado > subscripcion ---------- */
  .email {
    width: 230px;
  }
  /* ---------- contenido principal > menu filtros ---------- */
  #MainNavOuter, #SubNavOuter, #GenderOuter{
    clear: both;
    display: block;
  }
  .filtros span {
    display: none;
  }
  .filtros input[type=checkbox] {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }
  #MainNav, #SubNav, #Gender{
    display: block;
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
  }
  #MainNav li{
    display: inline-block;
    background-color: white;
    border:none;
    padding: 10px 10px 0;
    height: inherit;
  }

  #MainNav li:nth-child(n+7){
    display: none;
  }
  #MainNav li:last-child{
    display: inline-block;
    border: none;
    font-weight: 700;
  }
  #MainNav li:last-child a{
    color:#5d7e95;
  }
  #SubNav li:last-child,
  #Gender li:last-child{
    display: none;
  }
  #SubNav li{
    display: inline-block;
    border: none;
    background-color: #5d7e95;
  }
  #SubNav li:first-child{border-bottom-left-radius: 10px;}
  #SubNav li:nth-last-child(2){border-bottom-right-radius: 10px;}
  #SubNav li a{
    color: #FFF;
  }
  #Gender{margin-top: 10px;}
  #Gender li{
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    border: none;
    width: 100px;
    border-radius: 10px;
  }
/* ---------- slider principal---------- */
  .slider {
    display: block;
    margin: 20px auto;
    position: relative;
  }
  .slider img {
    width: 100%;
  }
  .sliderinner {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
  }
  .sliderinner>ul {
      list-style: none;
      padding: 0;
      height: 100%;
      width: 400%;    /*100% por cantidad de imágenes (en este caso 6)*/
      overflow: hidden;
      position: relative;
      left: 0px;
      transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .sliderinner>ul>li {
      width: 25%;    /*Cantidad de imágenes dividido 100 (en este caso 6)*/
      float: left;
      position: relative;
  }
  .sliderinner>ul>li>img {
      margin: auto;
      width: 100%;
  }
  .slider input[type=radio] {
      position: relative;
      left: 50%;
      transform: translate(-230%);
      top: 10px;
      z-index: 100;
  }
  .slider label {
      visibility: hidden;
      position: absolute;
      left: 50%;
      bottom: -45px;
      z-index: 100;
      width: 12px;
      height: 12px;
      background-color:#ccc;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0px 0px 3px rgba(0,0,0,.8);
      transition: background-color .2s;
  }
  .slider input[type=radio]#control1:checked~label[for=control1] { background-color: #333; }
  .slider input[type=radio]#control2:checked~label[for=control2] { background-color: #333; }
  .slider input[type=radio]#control3:checked~label[for=control3] { background-color: #333; }
  .slider input[type=radio]#control4:checked~label[for=control4] { background-color: #333; }
  /* Abajo se define el espacio entre labels para que queden centrados abajo de la imagen (si la # es par, no hace falta definir el centro)*/
  .slider label[for=control1] { margin-left: -45px }
  .slider label[for=control2] { margin-left: -27px }
  .slider label[for=control3] { margin-left: -9px }
  .slider label[for=control4] { margin-left: 9px }
  .slider input[type=radio]#control1:checked~.sliderinner>ul { left: 0 }
  .slider input[type=radio]#control2:checked~.sliderinner>ul { left: -100% }
  .slider input[type=radio]#control3:checked~.sliderinner>ul { left: -200% }
  .slider input[type=radio]#control4:checked~.sliderinner>ul { left: -300% }
  .second-sponsor{
    color: white;
    display: block;
    background-image: url(../img/superocean-2.jpg);
    background-position: 35% 0%;
    height: 450px;
    position: relative;
  }
  .sp-description{
    padding: 60px 30px;
    width: 60%;
    height: 100%;
    line-height: 1.7em;
  }
    .sp-description a{
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.075em;
  }
    .sp-description a:first-child{font-size: 50px; color: white;}
    .sp-text{
    position: relative;
      top: 15%;
    }
    .sp-button{
    color: #000;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
  }
    .second-sponsor img{
      position: absolute;
      top: -32px;
      right: 0;
  }
  /* ---------- marcas ---------- */
  .brands li {
    width: 20%;
  }
  .brands a {
    margin-top: 25px;
  }
  /* ---------- colecciones ---------- */
  .colecciones {
    display: flex;
    flex-wrap: wrap;
  }
  .colecciones h2 {
    width: 100%;
  }
  .collections{
    width: 40%;
  }

  /* ---------- footer ---------- */
  .foot-content  {
    flex-direction: row;
    justify-content: space-around;
  }
  /*  ---------- footer > legal ---------- */
  .legal-content {
    margin: 1rem;
  }
  .legal-content ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .legal-content li {
    padding: 10px 0;
    border-bottom: 0.5px solid #FFFFFF
  }
  .legal-content li:first-child{
    padding-top: 0;
  }
  .legal-content a {
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  /*  --------- footer > pagos ---------- */
  .pagos-content {
    margin: 1rem;
  }
  /* ---------- footer > social ---------- */
  .social-content {
    margin: 1rem;
  }

  /* --- configuraciones especificas de login.html --- */

  /* --- configuraciones especificas de faq.html --- */

  /* --- configuraciones especificas de contacto.html --- */
  main .login, main .signin{
  margin: 0 auto 2em;
  width: 50%;
  }
  .map{margin: 0 auto;
    width: 70%;
  }
  .login .input-group, .login .input-group-icon,
  .signin .input-group, .signin .input-group-icon
  {
    width: 100%;
    margin: 0 auto 0.75em;
  }
  .input-group, .input-group-icon{
    width: 48%;
  }
  input[type="radio"]{
    position: absolute;
    top: 0;
    right: 0;
  }
  input[placeholder="Asunto"]{
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
  }
  .input-group textarea{
    position: absolute;
    right: 0;
    width: 50%;
    bottom: 44px;
    height: 76px;
  }
  .send-reset{
    width: 100%;
  }
  input[type="submit"], input[type="reset"] {
    display: inline-block;
    width: 48%;
    text-align: center;
    border-radius: 0;
  }
   input[type="reset"] {width: 50%;}
  }
}
/* : : : fin de estructura de pantallas medianas verticales : : : */

/* ::::: Pantallas medianas apaisadas (entre 992px y 1175px) :::::*/
@media only screen and (min-width: 992px) and (max-width: 1175px) {
  body {
	  padding: 50px 48px 0 48px;
    width: 896px;
  }
    header {
    width: 160px;
  }
  .head-nav {
    height: auto;
    left: 0;
    top: 158px;
    width: 160px;
  }
  .header nav li {
    display: block;
  }
  .content {
  	float: right;
  	width: 896px;
  }
  .head-nav nav li:last-child {
    margin: 0;
  }
      /* --- destacado --*/
  .destacado {
    position: relative;
    height: 510px;
  }
  .destacado .d-foto {
    width: 712px;
  }
  .d-foto section {
  	position: relative;
  	width: 896px;
  }
  .d-foto section img {
  	left: -92px;
    position: absolute;
  	width: 100%;
  }
  .d-foto section h1,
  .d-foto section h2 {
    left: 0;
  }
  .d-foto section.alt h1,
  .d-foto section.alt h2 {
  	left: auto;
  	right: 184px;
  }
  .d-foto section h1 {
    background: #FFF;
    color: #314455;
  	font-size: 1.5em;
  	padding: 10px 24px 15px;
    top: 285px;
  }
  .d-foto section h2 {
  	font-size: 1em;
  	padding: 8px 24px 12px;
    top: 334px;
  }
.subscripcion {
  display: none;
}
/* ---------- contenido principal > menu filtros ---------- */

#MainNavOuter, #SubNavOuter, #GenderOuter{
  clear: both;
  display: block;
}
.filtros span {
  display: none;
}
.filtros input[type=checkbox] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
#MainNav, #SubNav, #Gender{
  display: block;
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
}
#MainNav li{
  display: inline-block;
  background-color: white;
  border:none;
  padding: 10px 10px 0;
  height: inherit;
}

#MainNav li:nth-child(n+7){
  display: none;
}
#MainNav li:last-child{
  display: inline-block;
  border: none;
  font-weight: 700;
}
#MainNav li:last-child a{
  color:#5d7e95;
}
#SubNav li:last-child,
#Gender li:last-child{
  display: none;
}
#SubNav li{
  display: inline-block;
  border: none;
  background-color: #5d7e95;
}
#SubNav li:first-child{border-bottom-left-radius: 10px;}
#SubNav li:nth-last-child(2){border-bottom-right-radius: 10px;}
#SubNav li a{
  color: #FFF;
}
#Gender{margin-top: 10px;}
#Gender li{
  display: inline-block;
  margin: 0 5px;
  text-align: center;
  border: none;
  width: 100px;
  border-radius: 10px;
}
/* ---------- slider principal---------- */
.slider {
  display: block;
  margin: 20px auto;
  position: relative;
}
.slider img {
  width: 100%;
}
.sliderinner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.sliderinner>ul {
    list-style: none;
    padding: 0;
    height: 100%;
    width: 400%;    /*100% por cantidad de imágenes (en este caso 6)*/
    overflow: hidden;
    position: relative;
    left: 0px;
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
.sliderinner>ul>li {
    width: 25%;    /*Cantidad de imágenes dividido 100 (en este caso 6)*/
    float: left;
    position: relative;
}
.sliderinner>ul>li>img {
    margin: auto;
    width: 100%;
}
.slider input[type=radio] {
    position: relative;
    left: 50%;
    transform: translate(-230%);
    top: 10px;
    z-index: 100;
}
.slider label {
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color:#ccc;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    transition: background-color .2s;
}
.slider input[type=radio]#control1:checked~label[for=control1] { background-color: #333; }
.slider input[type=radio]#control2:checked~label[for=control2] { background-color: #333; }
.slider input[type=radio]#control3:checked~label[for=control3] { background-color: #333; }
.slider input[type=radio]#control4:checked~label[for=control4] { background-color: #333; }
/* Abajo se define el espacio entre labels para que queden centrados abajo de la imagen (si la # es par, no hace falta definir el centro)*/
.slider label[for=control1] { margin-left: -45px }
.slider label[for=control2] { margin-left: -27px }
.slider label[for=control3] { margin-left: -9px }
.slider label[for=control4] { margin-left: 9px }
.slider input[type=radio]#control1:checked~.sliderinner>ul { left: 0 }
.slider input[type=radio]#control2:checked~.sliderinner>ul { left: -100% }
.slider input[type=radio]#control3:checked~.sliderinner>ul { left: -200% }
.slider input[type=radio]#control4:checked~.sliderinner>ul { left: -300% }
.second-sponsor{
  color: white;
  display: block;
  background-image: url(../img/superocean-2.jpg);
  background-position: 35% 0%;
  height: 450px;
  position: relative;
}
.sp-description{
  padding: 60px 30px;
  width: 60%;
  height: 100%;
  line-height: 1.7em;
}
  .sp-description a{
  font-family: "Open Sans Condensed", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
  .sp-description a:first-child{font-size: 50px; color: white;}
  .sp-text{
  position: relative;
    top: 15%;
  }
  .sp-button{
  color: #000;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
}
  .second-sponsor img{
    position: absolute;
    top: -32px;
    right: 0;
}
  /* ---------- marcas ---------- */
  .brands li {
    width: 20%;
  }
  .brands a {
    margin-top: 25px;
  }
  /* ---------- colecciones ---------- */
  .colecciones {
    display: flex;
    flex-wrap: wrap;
  }
  .colecciones h2 {
    width: 100%;
  }
  .collections{
    width: 20%;
  }
  /* ---------- footer > big ---------- */
  .foot-big {
    flex-direction: row;
    justify-content: space-around;
  }
  /* ---------- footer ---------- */
  .foot-content  {
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
  }
  .foot-content ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .foot-content li {
    padding: 10px 0;
    border-bottom: 0.5px solid #FFFFFF
  }
  .foot-content li:first-child{
    padding-top: 0;
  }
  .foot-content a {
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  /* ---------- footer > news ---------- */
  .news-content {  /*  antes era "foot-newsletter" */
    display: inline;
    padding: 1rem 0;
    width: 30%;
  }
  .news-content p {
  color: #FFFFFF;
  }
  .foot-news {  /*  antes era "newsletter" */

  }
  .foot-input-wrap {  /*  antes era "input-wrap" */
  width: 100%;
  }
  .foot-mail {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin: 10px 0;
    padding: 8px 10px;
    width: 100%;
  }
  .foot-btn {
    background-color: #FFFFFF;
    color: #314455;
    padding: 3px;
    text-transform: uppercase;
    width: 100%;
  }
  /*  ---------- footer > legal ---------- */
  .legal-content {
    margin: 1rem;
  }
  .legal-content ul{
    margin: 1rem;
  }

  /*  --------- footer > pagos ---------- */
  .pagos-content {
    display: inline;
    margin: 1rem;
  }
  .pagos-content ul {
    display: inline-block;
  }
  .pagos-content ul li {
    border: none;
  }
  .pagos {
    display: inline-block;
  }
  .copyright-item {
    display: inline;
  }
  /* ---------- footer > social ---------- */
  .social-content {
    margin: 1rem;
  }
  .social-link span{
    display: inline;
    font-size: 0.8rem;
  }
  /* --- configuraciones especificas de login.html --- */

  /* --- configuraciones especificas de faq.html --- */

  /* --- configuraciones especificas de contacto.html --- */
  .map{margin: 0 auto;
    width: 40%;
  }
  .contact{
  margin: 2em auto;
    width: 60%;
  }
  main .login, main .signin{
    width: 40%;
  }
}
/* : : : fin de estructura de pantallas medianas apaisadas : : : */

/* ::::: Pantallas grandes (1176px o más) :::::*/
@media only screen and (min-width: 1176px) {
  body {
    width: 1080px;
  }
  .wrap {
    height: 100%;
    margin: 0 0 25px;
    width: 100%;
  }
  header {
    width: 160px;
  }
  .head-nav {
    height: auto;
    left: 0;
    top: 158px;
    width: 160px;
  }
  .header nav li {
    display: block;
  }
  .content {
  	float: right;
  	width: 896px;
  }
/*

.destacado {
  position: relative;
  height: 510px;
}
.destacado .d-foto {
  width: 712px;
}
.d-foto section {
  position: relative;
  width: 896px;
}
.d-foto section img {
  left: -92px;
  position: absolute;
  width: 100%;
}
.d-foto section h1,
.d-foto section h2 {
  left: 0;
}
.d-foto section.alt h1,
.d-foto section.alt h2 {
  left: auto;
  right: 184px;
}
.d-foto section h1 {
  background: #FFF;
  color: #314455;
  font-size: 1.5em;
  padding: 10px 24px 15px;
  top: 285px;
}
.d-foto section h2 {
  font-size: 1em;
  padding: 8px 24px 12px;
  top: 334px;
}

*/

/* ---------- contenido principal > menu filtros ---------- */

#MainNavOuter, #SubNavOuter, #GenderOuter{
  clear: both;
  display: block;
}
.filtros span {
  display: none;
}
.filtros input[type=checkbox] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
#MainNav, #SubNav, #Gender{
  display: block;
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
}
#MainNav li{
  display: inline-block;
  background-color: white;
  border:none;
  padding: 10px 10px 0;
  height: inherit;
}

#MainNav li:nth-child(n+7){
  display: none;
}
#MainNav li:last-child{
  display: inline-block;
  border: none;
  font-weight: 700;
}
#MainNav li:last-child a{
  color:#5d7e95;
}
#SubNav li:last-child,
#Gender li:last-child{
  display: none;
}
#SubNav li{
  display: inline-block;
  border: none;
  background-color: #5d7e95;
}
#SubNav li:first-child{border-bottom-left-radius: 10px;}
#SubNav li:nth-last-child(2){border-bottom-right-radius: 10px;}
#SubNav li a{
  color: #FFF;
}
#Gender{margin-top: 10px;}
#Gender li{
  display: inline-block;
  margin: 0 5px;
  text-align: center;
  border: none;
  width: 100px;
  border-radius: 10px;
}
/* ---------- slider principal---------- */
.slider {
  display: block;
  margin: 20px auto;
  position: relative;
}
.slider img {
  width: 100%;
}
.sliderinner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.sliderinner>ul {
    list-style: none;
    padding: 0;
    height: 100%;
    width: 400%;    /*100% por cantidad de imágenes (en este caso 6)*/
    overflow: hidden;
    position: relative;
    left: 0px;
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
.sliderinner>ul>li {
    width: 25%;    /*Cantidad de imágenes dividido 100 (en este caso 6)*/
    float: left;
    position: relative;
}
.sliderinner>ul>li>img {
    margin: auto;
    width: 100%;
}
.slider input[type=radio] {
    position: relative;
    left: 50%;
    transform: translate(-230%);
    top: 10px;
    z-index: 100;
}
.slider label {
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color:#ccc;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    transition: background-color .2s;
}
.slider input[type=radio]#control1:checked~label[for=control1] { background-color: #333; }
.slider input[type=radio]#control2:checked~label[for=control2] { background-color: #333; }
.slider input[type=radio]#control3:checked~label[for=control3] { background-color: #333; }
.slider input[type=radio]#control4:checked~label[for=control4] { background-color: #333; }
/* Abajo se define el espacio entre labels para que queden centrados abajo de la imagen (si la # es par, no hace falta definir el centro)*/
.slider label[for=control1] { margin-left: -45px }
.slider label[for=control2] { margin-left: -27px }
.slider label[for=control3] { margin-left: -9px }
.slider label[for=control4] { margin-left: 9px }
.slider input[type=radio]#control1:checked~.sliderinner>ul { left: 0 }
.slider input[type=radio]#control2:checked~.sliderinner>ul { left: -100% }
.slider input[type=radio]#control3:checked~.sliderinner>ul { left: -200% }
.slider input[type=radio]#control4:checked~.sliderinner>ul { left: -300% }
.second-sponsor{
  color: white;
  display: block;
  background-image: url(../img/superocean-2.jpg);
  background-position: 35% 0%;
  height: 450px;
  position: relative;
}
.sp-description{
  padding: 60px 30px;
  width: 60%;
  height: 100%;
  line-height: 1.7em;
}
  .sp-description a{
  font-family: "Open Sans Condensed", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
  .sp-description a:first-child{font-size: 50px; color: white;}
  .sp-text{
  position: relative;
    top: 15%;
  }
  .sp-button{
  color: #000;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
}
  .second-sponsor img{
    position: absolute;
    top: -32px;
    right: 0;
}/* ---------- marcas ---------- */
.brands li {
  width: 10%;
}
.brands a {
  margin-top: 25px;
}
/* ---------- colecciones ---------- */
.colecciones {
  display: flex;
  flex-wrap: wrap;
}
.colecciones h2 {
  width: 100%;
}
.collections{
  width: 20%;
}

  footer {
    float: right;
    width: 896px;
  }

  .destacado {
    height: 560px;
  }
  .destacado .d-foto {
    width: 896px;
  }
  .d-foto section img {
    left: 0;
  }
  .d-foto section.alt h1,
  .d-foto section.alt h2 {
  	right: 0;
  }
  /* ---------- footer > big ---------- */
  .foot-big {
    flex-direction: row;
    justify-content: space-around;
  }
  /* ---------- footer ---------- */
  .foot-content  {
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
  }
  .foot-content ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .foot-content li {
    padding: 10px 0;
    border-bottom: 0.5px solid #FFFFFF
  }
  .foot-content li:first-child{
    padding-top: 0;
  }
  .foot-content a {
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  /* ---------- footer > news ---------- */
  .news-content {  /*  antes era "foot-newsletter" */
    display: inline;
    padding: 1rem 0;
    width: 30%;
  }
  .news-content p {
  color: #FFFFFF;
  }
  .foot-news {  /*  antes era "newsletter" */

  }
  .foot-input-wrap {  /*  antes era "input-wrap" */
  width: 100%;
  }
  .foot-mail {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin: 10px 0;
    padding: 8px 10px;
    width: 100%;
  }
  .foot-btn {
    background-color: #FFFFFF;
    color: #314455;
    padding: 3px;
    text-transform: uppercase;
    width: 100%;
  }
  /*  ---------- footer > legal ---------- */
  .legal-content {
    margin: 1rem;
    float: left;
  }
  .legal-content ul{
    margin: 1rem;
  }

  /*  --------- footer > pagos ---------- */
  .pagos-content {
    display: inline;
    margin: 1rem;
    float: left;
  }
  .pagos-content ul {
    display: inline-block;
  }
  .pagos-content ul li {
    border: none;
  }
  .pagos {
    display: inline-block;
  }
  .copyright-item {
    display: inline;
  }
  /* ---------- footer > social ---------- */
  .social-content {
    margin: 1rem;
    float: right;
  }
  .social-link span{
    display: inline;
    font-size: 0.8rem;
  }
  /* --- configuraciones especificas de login.html --- */

  /* --- configuraciones especificas de faq.html --- */

  /* --- configuraciones especificas de contacto.html --- */
  .contact{
    width: 50%;
  }

  main .login, main .signin{
    width: 30%;
  }

}
/* : : : fin de estructura de padding: pantallas grandes : : : */
