body{
    font-family: 'Montserrat', sans-serif;
}

svg{
    color: #DCDC;
}

.search-scart{
    width: 40%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;    
}

.badge{
    background-color: tomato;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em;
}

.logo-container img{
    display: block;
    margin: 15px auto 0;
    width: 100px;
}

.logo-container h4{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #3c3c3c;
    letter-spacing: 1.2px;
    margin-top: 0;
}

#MainNav, #SubNav, #Gender{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 10% 10px;
}

#MainNav li, #SubNav li, #Gender li, nav span{
    border: 1px solid #ececec;;
    background-color: #F7F7F7;
    padding: 0 15px;
    height: 45px;
    line-height: 45px;
    letter-spacing: 0.1em;
    border-bottom: 0;
}

#MainNav li a, #SubNav li a, #Gender li a, nav span{
    text-transform: uppercase;
    text-decoration: none;
    color: #4F4F4F;
    font-size: 0.8em;
    font-weight: 700;
}

#MainNav .last{border-bottom: 1px solid #ececec;}

nav span{
    display: block;
    margin: 0 10%;
}

footer{
background-color: black;
color: #999;
font-size: 0.8em;
}

footer .container{
    padding: 0 5% 5px; 
    color: white;
    line-height: 1em;
}
footer .container > div{padding-top: 40px;}

footer h6{
    margin: 0 0 10px;
    text-transform: uppercase; 
    color: white;
    font-size: 1em;
}

.foot-contacto a{
    padding-top: 2px;
}
.input-wrap input{
    border: 1px solid #fff;
    height: 40px;
    background-color: transparent;
    padding: 0 10px;
    width: 65%;
    margin-top: .5em;
}

.input-wrap{
    display: flex;
    justify-content: space-between;
}

.input-wrap button{
    background-color: #fff;
    border-color: #fff;
    height: 40px;
    color: #000;
    text-transform: uppercase;
    width: 30%;
    margin-top: .5em;
    border-style: none;
}

footer ul{
    padding: 0;
    list-style: none; 
    display: flex;
    flex-direction: column;
}

footer li{
    padding: 10px 0;
    border-bottom: 0.5px solid #999;
}

footer li:first-child{padding-top: 0}
footer a, footer address{
    text-decoration: none;
    color: #999;
    margin-bottom: 5px;
}


.foot-social{margin-top: -10px;}

.copyright{
    color: #999; 
    font-size: 0.7em; 
    text-align: center;
}