body{
    font-family: 'Montserrat', sans-serif;
}

svg{
    color: #DCDC;
}

.search-scart {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.badge{
    background-color: tomato;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em;
}

.logo-container img{
    display: block;
    margin: 15px auto 0;
    width: 100px;
}

.logo-container h4{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #3c3c3c;
    letter-spacing: 1.2px;
    margin-top: 0;
}

#MainNav, #SubNav, #Gender{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 10% 10px;
}

#MainNav li, #SubNav li, #Gender li, nav span{
    border: 1px solid #ececec;;
    background-color: #F7F7F7;
    padding: 0 15px;
    height: 45px;
    line-height: 45px;
    letter-spacing: 0.1em;
    border-bottom: 0;
}

#MainNav li a, #SubNav li a, #Gender li a, nav span{
    text-transform: uppercase;
    text-decoration: none;
    color: #232323;
    font-size: 0.8em;
}

#MainNav .last, #SubNav .last, #Gender .last{
  border-bottom: 1px solid #ececec;
}

nav span{
    display: block;
    margin: 0 10%;
}

.login{
  color: #999;
  font-size: 0.9em;
}

.showcase {
  display: none;
}

.showcase img {
  width: 100%;
}

.about{
    background-color: #f6f6f6;
    padding: 10px 5% 40px;
    text-align: center;
}

.brands{
    padding: 10px 5% 30px;
    text-align: center;
}

.about p{
  line-height: 25px;
  color: #999;
  margin-bottom: 25px;
}

.about h3{
  color: #222;
  font-weight: normal;
  font-size: 24px;
}

.about a, .brands > a{
    display: inline-block;
    background-color: #222;
    color: #fff;
    font-size: 12px;
    letter-spacing: .125em;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 35px;
    width: 200px;
    text-decoration: none;
}

.brands > a{
    margin-top: 25px;

}
.brands ul{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    opacity: 0.7;
}

.brands li{
    list-style: none;
    width: 50%;
    text-align: center;
    margin: 10px 0;
}

.brands img{
  width: 70%;
}

.destacados{
  padding-top: 25px;
}

.destacados h3{
    text-align: center;
    color: #222;
    font-weight: 100;
    font-size: 20px;
    margin: 0 0 20px;}

.collections{
    width: 80%;
    margin: 0 auto 30px;
    background-color: #EFECEA;
    overflow: hidden;
    padding-bottom: 30px;
}

.collections .foto {
  width: 100%;
}

.collections .logo{
    margin: 10px auto;
    width: 35%;
    display: block;
}

.boton-tr{
    display: block;
    background-color: #222;
    color: #fff;
    font-size: 12px;
    letter-spacing: .125em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    line-height: 35px;
    width: 200px;
    text-decoration: none;
    margin: 0 auto;
}

footer{
background-color: black;
color: #999;
font-size: 0.8em;
}

footer .container{
  padding: 0 5% 5px;
  color: white;
  line-height: 1em;
}
footer .container .primera-fila > div, footer .container .segunda-fila > div{
  padding-top: 40px;
}

footer h6{
    margin: 0 0 10px;
    text-transform: uppercase;
    color: white;
    font-size: 1em;
}

.foot-contacto a{
    padding-top: 2px;
}

.input-wrap input{
    border: 1px solid #fff;
    height: 40px;
    background-color: transparent;
    padding: 0 10px;
    width: 65%;
    margin-top: .5em;
}

.input-wrap{
    display: flex;
    justify-content: space-between;
}

.input-wrap button{
    background-color: #fff;
    border-color: #fff;
    height: 40px;
    color: #000;
    text-transform: uppercase;
    width: 30%;
    margin-top: .5em;
    border-style: none;
}

footer ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

footer li{
    padding: 10px 0;
    border-bottom: 0.5px solid #999;
}

footer li:first-child{
  padding-top: 0
}

footer a, footer address{
    text-decoration: none;
    color: #999;
    margin-bottom: 5px;
}


.foot-social{margin-top: -10px;}

.copyright{
    color: #999;
    font-size: 0.7em;
    text-align: center;
}

/* -------------------contact.hmtl-------------------------- */
.map{
    display: block;
    margin: 0 auto;
    width: 90%;
    filter: grayscale(0.7);
}

.google-map{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

/*-------------------FAQ.html--------------------------------*/

.faq-msg{
  background-color: #f6f6f6;
  padding: 10px;
  text-align: center;
  width: 90%;
  margin: 0 auto 20px;
}

.faq-msg h3{
  font-weight: normal;
}

.faq-container{
  width: 100%;
  font-size: 0.85em;
}

.faq-item{
  width: 90%;
  margin: 0 auto 20px;
}

.question{
  margin: 0;
  padding: 5px;
  font-weight: 600;
  background-color: #DDD;
  text-align: center;
}

.answer{
  margin: 0;
  padding: 5px;
  background-color: #f6f6f6;
}


/* -----------------  MEDIA QUERIES  ------------------------- */

/*---index.html---*/

@media (min-width: 768px) {
/*nav*/

  .search-scart {
    float: right;
    padding-right: 10%;
    margin-top: 60px;
  }

  .scart {
    padding: 0 60px;
  }

  .logo-container {
    float: left;
    padding-left: 10%;
    margin-top: 25px;
  }

  .logo-container img {
    margin: 0 auto;
  }

  hr {
    display: none;
  }

  #MainNavOuter {
    clear: both;
  }

/*marcas destacadas*/
  .destacados {
    display: flex;
    flex-wrap: wrap;
  }

  .destacados h3 {
    width: 100%;
  }

  .collections {
    width: 40%;
  }

/*marcas*/

  .brands li {
    width: 20%;
  }

/*footer*/

  .primera-fila, .segunda-fila{
      display: flex;
      justify-content: space-between;
    }

    .segunda-fila{align-items: baseline;} 

    
  .copyright {
    clear: both;
  }

  .foot-newsletter, .foot-contacto, .foot-info, .foot-social {
    width: 40%;
  }

  .foot-newsletter button {
    width: 36.5%;
  }

  .foot-newsletter input {
    width: 61.5%;
  }

/*---faq.html---*/

  .faq-msg {
    clear: both;
  }

  .question {
    text-align: left;
  }

}

/*---LOGIN---*/

  .login-page {
    clear: both;
  }

/*------- ¡¡¡ LAPTOP 1024PX !!! -------*/

@media (min-width: 1024px) {

  .showcase {
    width: 100%;
    display: block;
  }

  .collections {
    width: 20%;
  }

  .boton-tr {
    width: 80%;
  }

  .faq-container {
    font-size: 1em;
  }

  .primera-fila, .segunda-fila{
      width: 50%;
      float: left;
    }
    
  .copyright {
    visibility: hidden;
  }

  .input-wrap{
    flex-direction: column;
  }

  .foot-newsletter input{ width: 100%;}
  .foot-newsletter button{width: 100%; height: 30px;}
/*---CONTACTO---*/

  .boton-mapa {
    width: 20%;
  }

}
